@import url('reset.css');

body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    color: var(--Dark-color-text);
}

.container-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 56vh;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    color: black;
}

.opitions {
    padding: 5px;
}

.btn-theme{
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
    padding: 2.5px;
}

.btn-theme:hover {
    border-radius: 20px;
    transition-duration: 0.4s;
    transform: scale(1.1);
}

.calculator {
    text-align: center;
    border: 2px solid #0051FF;
    border-radius: 10px;
    background-color: var(--background-dark);
}

.display {
    margin: 10px;
    padding: 20px 9px 0 9px;

}

.result-display {
    width: 250px;
    height: 50px;
    font-size: 20px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    color: var(--Dark-color-text);
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
}

.btn {
    padding: 10px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 24px;
    cursor: pointer;
    background-color: var(--btn-Dark2);
    color: var(--Dark-color-text);
}

.btn:hover {
    transition-duration: 0.4s;
    transform: scale(0.9);
}

.operator {
    background-color: var(--btn-Dark1);
    color: var(--Dark-color-text);
}